<h1>Новый справочник</h1>

<form method="POST" action="/conf/refs">
  <label for="ref_name">Имя справочника:</label>
  <input id="ref_name" type="text" />

  <table>
    <thead>
      <tr>
        <th>Имя поля</th>
        <th>Тип поля</th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input name="field_name" type="text" /></td>
        <td>
          <div class="input-field col s12">
            <select name="field_type">
              <option value="0" disabled selected>Выберите тип</option>

              <% for type in @types_list %>
                <option value="<%= type %>"><%= type %></option>
              <% end %>
            </select>
          </div>
        </td>
        <td>
          <button
            name="add_field"
            class="btn-floating btn-small waves-effect waves-light green"
            title="Добавить поле"
            type="button"
            data-controller="newref"
            data-action="click->newref#newfield"
          >
            <i class="material-icons">add</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</form>

<%= javascript_pack_tag 'new_ref', 'data-turbolinks-track': 'reload' %>
