<h1>Новый справочник</h1>

<form method="POST" action="/conf/refs">
  <label for="ref_name">Имя справочника:</label>
  <input id="ref_name" type="text" />

  <div id="fields_table">
    <fields-table types="<%= @types_list %>"/>
  </div>

</form>

<%= javascript_pack_tag 'new_ref', 'data-turbolinks-track': 'reload' %>
