<div id="new_ref">
  <h3>Новый справочник</h3>

  <label for="ref_name">Имя справочника:</label>
  <input type="text" id="ref_name" />

  <table>
    <label>Поля справочника:</label>
    <thead>
      <tr>
        <th>Имя поля:</th>
        <th>Тип поля:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" id="field_name" /></td>
        <td>
          <div class="input-field col s12">
            <select>
              <option value="0" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  M.FormSelect.init(document.querySelectorAll('select'), {});
</script>
