<%= javascript_include_tag "configurator" %>

<div class="container">
  <h1>Конфигуратор</h1>
  <h2>Справочники</h2>

  <button
    id="add_ref"
    class="waves-effect waves-light btn"
    onclick="addRefClick(event)"
  >Добавить справочник</button>

  <div id="container_for_new"></div>
</div>
