<div class="row">
  <div class="col l6">

    <h1>Конфигуратор</h1>

    <ul class="collection with-header">
      <li class="collection-header"><h4>Справочники</h4></li>

      <% @references.each do |ref| %>
        <li class="collection-item">
          <div>
            <%= ref.ref_name %>
            <a href="#!" class="secondary-content">
            <i class="material-icons">delete</i></a>
          </div>
        </li>
      <% end %>
    </ul>

    <a
      id="add_ref"
      class="waves-effect waves-light btn"
      href="/conf/refs/add"
    >
        Добавить справочник
    </a>
  </div>
</div>
