<h1>Start</h1>

<div class="row">
  <div class="col s12 m6 l3">
    <div class="card blue-grey lighten-5">
      <div class="card-content white-text">
        <span class="card-title"><%= link_to "Application", app_path %></span>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l3">
    <div class="card blue-grey lighten-5">
      <div class="card-content white-text">
        <span class="card-title"><%= link_to "Configurator", conf_path %></span>
      </div>
    </div>
  </div>
</div>
